<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kenjitanaka.net</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <p id="main-text">Kenji's general purpose website.</p>
      <button id="btn">Change Background</button>
      <span class="code-element-item"></span>
    </div>
    <script>
      const container = document.querySelector(".container");
      const codeEl = document.querySelector(".code-element-item");

      const btn = document.getElementById("btn");

      var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, "a", "b", "c", "d", "e", "f"];

      function randomElement() {
        return array[Math.floor(array.length * Math.random())];
      }

      function randomColor() {
        let colour = "#";
        for (var i = 0; i < 6; i++) {
          colour += randomElement();
        }

        return colour;
      }

      function randomAngle() {
        return Math.floor(360 * Math.random());
      }

      btn.onclick = applyBg;

      applyBg();

      function applyBg() {
        let newBg =
          "linear-gradient(" +
          randomAngle() +
          "deg, " +
          randomColor() +
          ", " +
          randomColor() +
          ", " +
          randomColor() +
          ")";
        container.style.background = newBg;
        codeEl.textContent = newBg;
      }
    </script>
</html>