<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Scanner Page</h1>
    <form action="/scanner" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple accept="image/*">
        <label for="output_filename">Output Filename:</label>
        <input type="text" name="output_filename">
        <input type="submit" value="Upload">
    </form>

    <a href="{{ url_for('index') }}">Go back to Index Page</a>
</body>
</html>